@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #3B3737;
}

@theme {
  --color-primary: #72AFD5;
  --color-primary-variant: #65B0E6;
  --color-secondary: #A39E9E;
  --color-graylight: #EFEAEA;

  --height-13: 3.125rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-irish-grover: var(--font-irish);
  --font-mochiy-pop-one: var(--font-mochiy);

  --font-sans: var(--font-poppins);
}

@layer components {
  .noise-overlay {
    text-align: center;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}
