@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-dark-10: #202020;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202020;
    --foreground: #ededed;
  }
}

/* @theme { */
/*   --color-dark-10: #302828; */
/* } */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
